.content {
    margin: 20px;
    color: #333;
}

header {
    display: flex;
    justify-content: center;
}

.reservation {
    display: flex;
    width: 30%;
    flex-direction: column;
    margin: 15px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
}

.reservation-item  {
    flex-direction: row;
}

.reservation-already-passed {
    background-color: #FF5565;
    color: white;
}

.reservation-active {
    background-color: #55FF65;
    color: white;
}

.suite-in-use {
    background-color: #AAAA55;
    color: white;
}

h4 {
    align-self: center;
    padding-bottom: 10px;
}

span {
    font-weight: bold;
}

p {
    display: inline;
    margin-top: 0px;
    margin-bottom: 0px;
}