{% extends 'layouts/base.html' %}

{% import 'macros/menu.html' as menu %}

{% block navbar %}
{{ menu.menu(1) }}
{% endblock navbar %}

{% block content %}
<header>
<h2>Suites Reservadas</h2>
</header>

{% for reservation in reservation_list %}
{% if reservation.active == 0 %}
<div class="reservation reservation-already-passed">
{% elif reservation.active == 1 %}
<div class="reservation reservation-active">
{% else %}
<div class="reservation suite-in-use">
{% endif %}
    <h4>Suite: {{reservation.suite_number}}</h4>
    {% if reservation.is_overnight_stay %}
    <div class="reservation-item">
        <span>Pernoite para dia: </span><p>{{reservation.date_of_overnight_stay}}</p>
    </div>
    {% else %}
    <div class="reservation-item">
        <span>Entrada: </span><p>{{reservation.entry_datetime}}</p>
    </div>
    <div class="reservation-item">
        <span>Saída: </span><p>{{reservation.exit_datetime}}</p>
    </div>
        {% endif %}
    <div class="reservation-item">
        <span>Nome do cliente: </span><p>{{reservation.client_name}}</p>
    </div>
    <div class="reservation-item">
        <span>Email do cliente: </span><p>{{reservation.email}}</p>
    </div>
</div>
{% endfor %}

{% endblock content %}
